<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card class="welcome-card">
    <ion-img
      src="http://static.asiawebdirect.com/m/kl/portals/penang-ws/homepage/penang-attractions/beach/pagePropertiesImage/penang-beaches-and-islands.jpg">
    </ion-img>
    <ion-card-header>
      <ion-card-title>Explore Rentals</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar placeholder="Your next destination..."></ion-searchbar>
      <ion-card-subtitle>Type of Accomodation</ion-card-subtitle>
      <ion-button size="small" shape="round" color="secondary">Homes</ion-button>
      <ion-button size="small" shape="round" color="secondary">Apartments</ion-button>
      <br>
      <ion-card-subtitle>Number of Travellers</ion-card-subtitle>
      <ion-button size="small" shape="round" color="secondary">1-2</ion-button>
      <ion-button size="small" shape="round" color="secondary">3-6</ion-button>
      <ion-button size="small" shape="round" color="secondary">7+</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-content color="primary">
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let listing of listings" color="primary" (click)="navToListing(listing)">
          <ion-label>
            {{listing.name}}

          </ion-label>
          <ion-thumbnail>
            <ion-img src={{listing.preview}}></ion-img>
          </ion-thumbnail>

        </ion-item>
      </ion-list>
    </ion-card>

  </ion-content>