<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Saved Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let listing of listings" color="primary" (click)="navToListing(listing)">
        <ion-label>
          Name: {{listing.name}}
          <br>
          Location: {{listing.location}}
          <br>
          Price: {{listing.price}}
        </ion-label>
        <ion-thumbnail>
          <ion-img src={{listing.preview}}></ion-img>
        </ion-thumbnail>

      </ion-item>
    </ion-list>
  </ion-card>



  <ion-button (click)="navToExplore()" color="secondary" shape="round">Find Homes
  </ion-button>

</ion-content>