// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

:root {
  --ion-color-primary: #fefdf7;
  --ion-color-primary-rgb: 254,253,247;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e0dfd9;
  --ion-color-primary-tint: #fefdf8;

  --ion-color-secondary: #e7dbd9;
  --ion-color-secondary-rgb: 231,219,217;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #cbc1bf;
  --ion-color-secondary-tint: #e9dfdd;

  --ion-color-tertiary: #f1edf7;
  --ion-color-tertiary-rgb: 241,237,247;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d4d1d9;
  --ion-color-tertiary-tint: #f2eff8;
  
  
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16,220,96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
  
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255,206,0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
  
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245,61,61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
  
    --ion-color-dark: #804256;
    --ion-color-dark-rgb: 128,66,86;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #713a4c;
    --ion-color-dark-tint: #8d5567;
  
    --ion-color-medium: #cbacba;
    --ion-color-medium-rgb: 203,172,186;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #b397a4;
    --ion-color-medium-tint: #d0b4c1;
  
    --ion-color-light: #fddbd5;
    --ion-color-light-rgb: 253,219,213;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #dfc1bb;
    --ion-color-light-tint: #fddfd9;
  }