<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Profile</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content text-center color="primary">
  <ion-card>
      <ion-avatar class="avatar">
          <img src="https://i.imgur.com/umL9nmX.jpg">
        </ion-avatar>
        <ion-label>Hi, I'm {{user.firstname}} {{user.lastname}}</ion-label>

    <h4>About</h4>
    <ion-icon name="mail"></ion-icon>
    <ion-label> {{user.email}}</ion-label>
    <br>
    <br>

  </ion-card>
  <ion-card>
    <ion-title>Your Bookings:</ion-title>
    <br>
  </ion-card>
  <br>
  <ion-card>
    <ion-title>Reviews</ion-title>
    <ion-list>
      <ion-item *ngFor="let review of reviews">
        <b>{{review.writer}}</b>
        <br>
        {{review.review}}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>