<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button></ion-back-button>
    <ion-title>
      {{listing.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    Here are the details for your saved listing:
    <br>
    <ion-text>
      Location: {{listing.location}}
      <br>
      Price: {{listing.price}} per night
    </ion-text>

  </ion-card>
  <ion-card>
    <ion-img src={{listing.imageUrl}}></ion-img>
  </ion-card>


  <ion-item>
    <ion-label>Start Date:</ion-label>
    <ion-input [(ngModel)]="booking.startDate" type="Date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>End Date:</ion-label>
    <ion-input [(ngModel)]="booking.endDate" type="Date"></ion-input>
  </ion-item>

    <ion-button color="secondary" shape="round" (click)="bookListing()">Book Now</ion-button>

</ion-content>